@font-face {
	font-family: 'Garet';
	src: local('Garet Book'), local('Garet-Book'),
		url('/font/Garet-Book.woff2') format('woff2'),
		url('/font/Garet-Book.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Garet';
	src: local('Garet Heavy'), local('Garet-Heavy'),
		url('/font/Garet-Heavy.woff2') format('woff2'),
		url('/font/Garet-Heavy.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 51, 51, 51;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	overflow-x: hidden;
}


body {
	color: rgb(var(--foreground-rgb));
}

a,
button {
	@apply hover:transition-all duration-300 !font-normal !capitalize text-inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Garet", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}
.tbhq-header {
	@apply !fixed top-0 z-50;
}
.tbhq-header[data-type="classic"] {
	@apply w-full bg-orange-50;
}

.tbhq-header[data-type="overlay"] {
	@apply absolute w-full z-10 !bg-gradient-to-b !from-[rgba(11,_11,_11,_1)] !to-[rgba(11,_11,_11,_0.2)]
}

[data-type="overlay"] .container {
	@apply bg-gray-500/30 lg:bg-transparent;
}

[data-type="overlay"] .container.is-open {
	@apply bg-black;
}

[data-type="classic"] .container.is-open {
	@apply bg-orange-50;
}

.tbhq-topbar {
	@apply hidden lg:flex py-6 justify-around items-center w-full border-b;
}

[data-type="classic"] .tbhq-topbar {
	@apply text-zinc-800 border-stone-300/40;
}

[data-type="overlay"] .tbhq-topbar {
	@apply text-white border-[#828282];
}

.nav-block {
	@apply md:w-full lg:flex lg:items-center lg:flex-auto
}

.tbhq-header .nav-bar {
	@apply pt-4 pb-2 mt-4 md:mt-0 lg:px-12 flex flex-col md:flex-row lg:flex-shrink-0 space-y-4 md:space-y-0 md:space-x-6
}

[data-type="classic"] .toggle-button {
	@apply lg:hidden text-black absolute right-6 top-7
}

[data-type="overlay"] .toggle-button {
	@apply lg:hidden text-white absolute right-6 top-7
}

[data-type="classic"] .nav-links {
	@apply text-[#333] text-center
}

[data-type="overlay"] .nav-links {
	@apply text-[#FCFAF1] text-center
}

.tbhq-header .nav-input {
	@apply input input-bordered rounded-lg input-primary w-full pr-12
}

[data-type="classic"] .nav-input {
	@apply placeholder:text-gray-500 text-zinc-800
}

[data-type="overlay"] .nav-input {
	@apply placeholder:text-gray-300 text-[#FCFAF1]
}

.custom-datepicker{
	@apply w-full relative top-0
}

.custom-datepicker>div,.custom-datepicker .w-64 {
	@apply w-full
}

.arrows {
	width: 60px;
	height: 72px;
}

.arrows path {
	stroke: white;
	fill: transparent;
	stroke-width: 1px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
	0% {
		opacity: 0
	}

	40% {
		opacity: 1
	}

	80% {
		opacity: 0
	}

	100% {
		opacity: 0
	}
}

@-webkit-keyframes arrow

/*Safari and Chrome*/
	{
	0% {
		opacity: 0
	}

	40% {
		opacity: 1
	}

	80% {
		opacity: 0
	}

	100% {
		opacity: 0
	}
}

.arrows path.a1 {
	animation-delay: -1s;
	-webkit-animation-delay: -1s;
	/* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay: -0.5s;
	-webkit-animation-delay: -0.5s;
	/* Safari 和 Chrome */
}

.arrows path.a3 {
	animation-delay: 0s;
	-webkit-animation-delay: 0s;
	/* Safari 和 Chrome */
}